.setPalaceHeroDesktop, .setDuoHeroDesktop, .setAzulHeroDesktop{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}

.estudioImg{
    display: block;
}

.switchBtnEstudios{
    margin-left: auto;
    margin-right: auto;
}

.imgContainer img{
    position: inherit !important;
}

.setEstudioBtn {
    border: none;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.handleClickSetEstudioContainer{
    display: flex;
}

.cameraImg{
    padding: 15px;
}

.setsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.setPalaceImgLong{
    position: relative !important;
}

.equiposDescriptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.equiposTxt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.equiposImg{
    position: relative !important;
    width: 70% !important;
    height: auto !important;
    margin-right: 2rem;
}

.marginBtn{
    margin-top: 2rem;
}

.iluminacionImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modificadoresImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.modificadoresContainer{
    margin-top: 2rem;
}
.modificadoresTxt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.imgSetsIntro, .imgSetsIntro, .setPalaceTitleTxt, .setPalaceImgIntro, .setPalaceImgDetails, .setDuoImgTitle, .setDuoIntro, .setDuoImg, .setAzulImgIntro, .setAzulImg, .mapStudio{
    width: 100% !important;
    height: auto !important;
    position: relative !important;
    display: block !important;
}

.setPalaceContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 60% 40%;
}

.setPalaceImgContainer, .setAzulImgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0.5rem auto 0;
}

.setDuoImgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.setPalaceTitle{
    display: grid;
    grid-template-columns: 50% 50%;
}

.setPalaceTxt{
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    white-space: pre-wrap;
    font-weight: 500;
    align-content: flex-end;
    text-align: left;
    padding: 0.1rem;
}

.setDuoHero, .setPalaceHero, .setAzulHero{
    padding: 0 1rem;
    margin-bottom: 5rem;
}

.setDuoTitleContainer, .setAzulTitleContainer{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: 1rem;
}

.setDuoTxtContainer, .setAzulTxtContainer{
    display: flex;
    align-items: flex-end;
}

.setDuoTxt{
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    white-space: pre-wrap;
    font-weight: 500;
    align-content: flex-end;
    text-align: left;
    margin-bottom:  0.5rem;
    margin-left: 0.5rem;
}

.setAzulTxt{
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    white-space: pre-wrap;
    font-weight: 500;
    align-content: flex-end;
    text-align: left;
    margin-bottom:  0.5rem;
    margin-left: 0.5rem;
}


.setAzulImg{
    width: 95% !important;
    justify-self: center;
}

.studioMapContainer{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.mapStudio{
    width: 60% !important;
    margin: 2rem 0;
}

.equipoDetailsMobile{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 2rem auto;
}

.equiposImgContainerMobile{
    display: flex;
    align-items: center;
}

.equiposImgMobile{
    width: 100% !important;
    height: auto !important;
    position: relative !important;
}

.equiposCenterText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.equiposContainerDesktop{
    width: 80%;
    margin: auto;
}

.justifyTxtEquipos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.marginButton{
    margin: 2rem;
}