.estudioImg{
    display: block;
}

.switchBtnEstudios{
    margin-left: auto;
    margin-right: auto;
}

.imgContainer img{
    position: inherit !important;
}

.setEstudioBtn {
    border: none;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.handleClickSetEstudioContainer{
    display: flex;
}

.cameraImg{
    padding: 15px;
}

.setsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.setPalaceImgLong{
    position: relative !important;
}

.setPalaceContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.equiposDescriptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.equiposTxt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.equiposImg{
    position: relative !important;
    width: 70% !important;
    height: auto !important;
    margin-right: 2rem;
}

.marginBtn{
    margin-top: 2rem;
}

.iluminacionImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modificadoresImgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.modificadoresContainer{
    margin-top: 2rem;
}
.modificadoresTxt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}