
.homeMobile{
    display: none;
}
/* background video */

.videoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .videoContainer video{
    width: 100%;
    filter:brightness(80%)
  }
/* Pictures Home */

.homePictureContainer {
    display: flex;
    flex-direction: row;    
}

.textPictureHome, .pictureHome{
    display: flex;
}

.marqueeContainer{
    color: white;
    background-color: #232021
}
.textMarquee{
    margin: 10px 50px;
    font-weight: 500;
    font-size: 1rem;
}


/* seccion central con fotos y descripciones. Dispay grid */

.estudios, .servicios{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
}

.homeImgBali{
    position: relative !important;
}

.baliEstudioText{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* position: sticky;
    top: 60px; */
}
.baliEstudioPictures{
    position: sticky;
    top: 60px;
}

.txtSticky{
    position: sticky;
    top: 60px;
}
.txtContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.baliLogoWhiteContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.baliLogoCenter{
    background-color: black;
    position: sticky !important;
    width: clamp(7rem, 35vw, 25rem) !important;
    height: auto !important;
    bottom: unset !important;
    left: unset !important;
    right: unset !important;
    top: 60px !important;
}

.extraTitleContainer{
    display: flex;
    justify-content: center;   
    align-items: center;
    background-color: black;
    color: white;
    z-index: 1;
}

.extraTitle{
    position: sticky;
    top: 60px;
}

.dobleTxtBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.secondParagraph{
    margin-top: 2rem;
}

.selected{
    color: #808080;
}

.faqContainer{
    display: grid;
    grid-template-columns:  50% 50%;
    
}

.questions, .answers{
    padding: 7vw 3vw;
}

.answers{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerTxt{
    color: white;
    font-size: clamp( 1rem, 1.2vw , 1.5rem);
    line-height: 1.5rem;
}

/* Mobile */

.baliMobiletextHome{
    position: absolute;
    color: white;
    left: 5%;
}

.imgMobileCarousel{
    filter: brightness(60%);
  }

.imgHomeEspaciosMobile{
    width: 100% !important;
    height: auto !important;
    position: relative !important;
}

.textEspaciosHomeMobileContainer{
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}

.titleMobile{
    position: absolute;
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.detailesHomeMobile{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.sectionTxtMobile{
    padding: 1rem;
}