.mouseGifContainer{
    position: fixed;
    left: 50%;
    top: clamp(25rem, 47vw, 47rem );
    transform: translateX(-50%);
    transition: opacity 0.1s ease;
  }
  .mouseGifContainer img{
    width: clamp( 5rem, 8vw, 15rem) !important;
    position: relative !important;
  }

  .hidden {
    display: none;
  }