.mouseGifContainer{
    position: fixed;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    transition: opacity 0.1s ease;
  }
  .mouseGifContainer img{
    width: clamp( 5rem, 8vw, 15rem) !important;
    position: relative !important;
  }

  .hidden {
    display: none;
  }