.nav-item {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
  }
  
  .nav-item.active {
    color: #808080; /* Cambia a tu color preferido */
  }
  
  .navBarHomeHero {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      height: 90px;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1000;
    }
    
    .navBarContainer {
      width: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .navBarLogo{
      margin: 0 30px;
      width: 120px;
      height: auto;
    }
    
    .navList {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .socialNav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px;
      width: 210px;
    }
    
    .socialImg {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin: 0px 4px 0px 10px;
    }

    .navBtnList{
        display: none;
    }