

.imgIntroProduccion{
    height: auto !important;
    position: relative !important;
    display: block;
    filter:brightness(70%)

}

.produccionTitle{
    color: white;
    width: 25vw;
    position: absolute;
    z-index: 100;
    top: 35vh;
    left: 4rem;
}

.carouselSection{
    padding: 5rem 2rem;
}

.secondaryCarouselContainer{
    margin-top: 5rem;
}

.loaderProduccion{
    margin: auto;
}

.produccionClose{
    position: relative !important;
    display: block;
}

.creditsMainCarousel{
    margin-top: 1rem;
}

.swiper-slide{
    height: auto !important;
    display: flex !important;
}

/* Flechas carrusel */

.swiper-button-prev, .swiper-button-next{
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem;
    color: black !important;
}

.swiper-button-prev:active, .swiper-button-next:active{
    background-color: gray !important;
}


/* modal*/

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto; /* Permite scroll si el contenido es demasiado grande */
    z-index: 1001;
  }

  /* Overlay */

  .creditsOverlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    color: white;
    z-index: 1010;
    align-content: end;
    bottom: 0;
  }

  .swiper-slide:hover .creditsOverlay {
    opacity: 1 !important;
  }
  .creditsParagraph{
    margin-left: 15px;
    margin-bottom: 15px;
  }