* {
  text-decoration: none;
  list-style: none;
  /* font-family: 'Raleway';
  font-weight: 400; */
  margin: 0;
}

html{
  font-size: 14px;
}

body {
  max-width: 1920px;
  margin: auto;
}

.extraTitle{
  font-size: clamp( 1.5rem, 3.5vw , 4rem);
  font-weight: 700;
}

.title{
  font-size: clamp( 1rem, 3vw , 3rem);
  font-weight: 800;
}

.titleMobileHome{
  font-size: clamp( 1rem, 3vw , 3rem);
  font-weight: 900;
}

.subTitle{
  font-size: clamp( 1rem, 2vw , 2.5rem);
  font-weight: 500;
}

.paragraph{
  font-size: clamp( 0.7rem, 1.5vw , 1.5rem);
  font-weight: 500;
  letter-spacing: -0.01rem;
}

.paddingParagraph{
  padding-bottom: 2vw;
}

.fqsTxt{
  font-size: clamp( 1rem, 1.2vw , 1.3rem);
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  padding-bottom: 0.5rem;
}

p{
  white-space: pre-wrap;
  width: fit-content;
}



.link {
  text-decoration: none;
  outline: none;
}

.btnStyle {
  background-color: black;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.btnMobile{
  background-color: black;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 5px 10px;
  border: none;
  margin: 0.5rem 0;
}

.btnWhiteStyle {
  background-color: white;
  color: black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 5px 30px;
  cursor: pointer;
}

.btnStyle:active{
  background-color: white;
  border: 1px solid black;
  color: black;
}
.btnWhiteStyle:active{
  background-color: black;
  color: white;
}

/* App.module.css */
.card {
  width: 240px;
  height: 240px;
  background: linear-gradient(to bottom right, violet, fuchsia);
}

.cardBody {
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.svg {
  width: 36px;
  height: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.indicator {
  stroke: white;
}

.track {
  stroke: rgba(255, 255, 255, 0.1);
}

.value {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#D2D2D2;
  border-right-color: #646464;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

.no-scroll {
  overflow: hidden;
}

.letraChica{
  font-size: clamp(0.6rem, 1vw, 1rem)
}







