
@media only screen and (max-width: 785px){

    .homeMobile{
        display: block;
    }

    .homeDesktop{
        display: none;
    }

    .socialNav{
        display: none;
    }
    
    .navBarLogo{
        width: 15vw;
        height: auto;
    }
    
    .navBarContainer{
        width: unset;
    }

    .navBarHomeHero{
        height: 60px;
    }
    
    .carouselSection{
        padding: 3em 1rem !important;
    }

    .navList {
        flex-direction: column;
        background-color: white;
        padding: unset;
        height: fit-content;
        border-radius: 5px;
        position: absolute;
        right: 0px;
        top: 70px;
        visibility: hidden;
        width: fit-content;
        align-items: end;
    }
    
    .visible {
        visibility: visible;
    }
    
    .nav-item {
        margin-bottom: 2vw;
        font-size: medium;
        margin-right: 30px;
    }
    
    .liNav {
        margin-bottom: 2vw;
    }
    
    .navBarLogo {
        width: 20vw;
        height: auto;
    }
    
    .navBtnList {
        display: block;
        align-self: center;
        transform: scale(1.5);
        border: 1px solid;
        border-radius: 2px;
        position: absolute;
        right: 30px;
        width: fit-content;
    }

    .liNavMobile{
        display: block !important;
    }

    .liNavDesktop{
        display: none !important;
    }

    .footerLinks{
        align-items: center;
    }

    .footerSocialMedia {
        align-self: unset;
        margin-bottom: 10px;
    }

    .footerItems{
        flex-direction: column;
        align-items: unset;
        padding-left: 2rem;

    }

    .footerText{
        margin-left: 1rem;
        padding: 1rem 1.2rem;

    }

    .footerTxtFirma{
        font-size: 10px;
        margin-left: 2vw;
    }
    
    .logoKranding{
        height: 10px !important;
        width: 65px !important;
    }

    .socialFooter{
        display: flex !important;
        align-items: center;
        margin-top: 1rem;
     }

     .socialFooterImg{  
        margin-right: 0.5rem;
     }

    .produccionTitle{
    top: unset;    
    left: 2rem;
    align-self: flex-end;
    margin-bottom: 2rem;
}

    .swiper-button-next, .swiper-button-prev{
        display: none !important;
    }
}